<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996849273701-0b7ll7ilmt40qrub346is2bbsouf69h1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996849273701-0b7ll7ilmt40qrub346is2bbsouf69h1</string>
	<key>API_KEY</key>
	<string>AIzaSyCwYG8o8Gis_Pu9r91DY9fy7ru-ANJ8zng</string>
	<key>GCM_SENDER_ID</key>
	<string>996849273701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Hilmihan-calisan.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase2-11848</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase2-11848.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996849273701:ios:7edf26b0ce92dd85fbaf8c</string>
</dict>
</plist>